.App{
    background: radial-gradient(100% 197.75% at 0% 1.03%,#272d49 0%,#222740 100%);
    min-height: 100vh;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
}

.header{
    height: 60px;
    padding: 0 2.5rem;
    background: linear-gradient(111.6deg, #303659 -2.51%, #292e4d 104.46%);
    border-bottom: 2px solid #41486e;
    display: flex;
    align-items: center;
    color: white;
}

.main-content{
    padding: 25px;
    display: flex;
}

.container-chart{
    margin-right: 10px;
    flex: 1;
    padding: 1.25rem 2rem 1.25rem 0.5rem;
    max-width: 100%;
    background: linear-gradient(111.6deg, #303659 -2.51%, #292E4D 104.46%);
    border-radius: 15px;
}

.container-chart:last-child{
    margin-right: 0;
}
